.c{
   display: inline-block;
   position: absolute;
   left: 655px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}

.d{
   display: inline-block;
   position: absolute;
   left: 685px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}

.e{
   display: inline-block;
   position: absolute;
   left: 715px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}

.f{
   display: inline-block;
   position: absolute;
   left: 745px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}

.g{
   display: inline-block;
   position: absolute;
   left: 775px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}

.a{
   display: inline-block;
   position: absolute;
   left: 805px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}

.b{
   display: inline-block;
   position: absolute;
   left: 835px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}


.p{
   display: inline-block;
   position: absolute;
   left: 865px;
   border: 1px solid black;
   width: 30px;
   height: 100px;
}